<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="cancel()" class="ion-padding-start">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center">Agregar gasto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="createExpense">
    <currency-input formControlName="currency"></currency-input>
    <app-error-messages
      [control]="createExpense.get('currency')"
    ></app-error-messages>
    <ion-select
      formControlName="paymentMethods"
      label="Medios de pago"
      placeholder="Seleccione uno"
      errorText="Invalid email"
    >
      <ion-select-option value="efectivo">Efectivo</ion-select-option>
      <ion-select-option value="tranferencia">Transferencia</ion-select-option>
      <ion-select-option value="rappyPay">Rappy card</ion-select-option>
      <ion-select-option value="nu">Nu</ion-select-option>
    </ion-select>
    <app-error-messages
      [control]="createExpense.get('paymentMethods')"
    ></app-error-messages>

    <ion-select
      formControlName="categories"
      label="Categorias"
      placeholder="Seleccione uno"
    >
      <ion-select-option value="internet">Internet</ion-select-option>
      <ion-select-option value="servicios">Servicios</ion-select-option>
      <ion-select-option value="vehiculo">Vehiculo</ion-select-option>
      <ion-select-option value="gastosPersonales"
        >Gastos personales</ion-select-option
      >
    </ion-select>
    <app-error-messages
      [control]="createExpense.get('categories')"
    ></app-error-messages>
    <ion-select
      formControlName="type"
      label="tipo"
      placeholder="Seleccione uno"
    >
      <ion-select-option value="internetCasa">Internet casa</ion-select-option>
      <ion-select-option value="internetClaro"
        >Internet claro</ion-select-option
      >
      <ion-select-option value="internetTigo">Internet tigo</ion-select-option>
      <ion-select-option value="paqueteInternet"
        >Paquete Internet</ion-select-option
      >
    </ion-select>
    <app-error-messages
      [control]="createExpense.get('type')"
    ></app-error-messages>
    <ion-textarea
      formControlName="notes"
      label="Notas"
      labelPlacement="stacked"
      placeholder="Notas"
    ></ion-textarea>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button slot="start" shape="round">Cancelar</ion-button>
    <ion-button (click)="save()" slot="end" shape="round">Crear</ion-button>
  </ion-toolbar>
</ion-footer>
